body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe5e5; /* svijetlo crvena pozadina */
    margin: 20px;
}

h1 {
    color: darkred;
}

h2 {
    color: #b30000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: darkred;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: red;
}

img {
    margin: 10px;
    border: 3px solid darkred;
}

video, iframe {
    margin: 15px 0;
    border: 3px solid #b30000;
}

blockquote {
    background-color: #ffcccc;
    padding: 10px;
    border-left: 5px solid darkred;
}
